/* For All Pages */
body {
	background-image: url("images/mellow.jpg"), url("images/background2.jpg");
	
	background-size: 100%, 100%;
	background-repeat: no-repeat, repeat;
}

h1 {
	color: #3c8571;
	font-family: 'Fredericka the Great', cursive;
	padding: 10px;
	font-weight: normal;
	margin: 0px;
	font-size: 225%;
	text-shadow: 4px 4px 6px #c08908;
	text-align: center;
}

h2 {
	color: #3c8571;
	text-align: left;
	font-family: 'Fredericka the Great', cursive;
	font-size: 170%;
	text-shadow: 4px 4px 6px #c08908;
	margin-left: 55px;
}

#nav {
	list-style: none;
	text-align: center;
	width: 100%;
	position: relative;
	margin-left: 10px;
}

#nav ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	width: 100%;
	margin-top: 80px;
}

#nav li {
	color: black;
	float: left;
	font-family: 'Text Me One', Sans-Serif;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-left: 20px;
	text-transform: uppercase;
	width: 380px;
}

#nav li a {
	color: #3c8571;
	display: block;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

#nav li a:hover {
    color: 	#c39934;
}

#nav2 {
	list-style: none;
	text-align: center;
	width: 100%;
	position: relative;
}

#nav2 ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

#nav2 li {
	color: black;
	float: left;
	font-family: 'Fredericka the Great', Sans-Serif;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-left: 20px;
	text-transform: uppercase;
	width: 380px;
}

#nav2 li a {
	color: #3c8571;
	display: block;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

#nav2 li a:hover {
    color: 	#c39934;
}

.lower {
	margin-top: 60px;
}

#picture {
	width: 19%;
	border: 3px solid #3c8571;
  	border-radius: 100%;
  	position: relative;
  	left: 39%;
}



.imageText {
	margin-left: 416px;
	color: #3c8571;
	font-family:'Bungee Inline';
	font-size: 3em;
	text-shadow: 4px 4px 6px #c08908;
	margin-top: 25px;
}
/*__--__--__--__--__--__--__--__--__--__--__--__--__--*/

/* index page */
.footer2 {
	color: #d5ded9;
}
#footer1{
	color: #d5ded9;
	font-size: 20px;
	position: inline-block;
	font-family: 'Rubic', Arial;
}

.container {
	margin-top: 100px;
	margin-left: 520px;
}

.frontend {
	font-size: 18px;
	font-family: Georgia;
	margin-left: 30px;
	font-family: 'Rubic', Arial;
}


/*__--__--__--__--__--__--__--__--__--__--__--__--__--*/


/* resume page */
.resumeText {
	margin-left: 475px;
	color: #3c8571;
	font-family:'Bungee Inline';
	font-size: 3em;
	text-shadow: 4px 4px 6px #c08908;
	margin-top: 25px;
}


#movingLeft {
	margin-left: 55px;
	width: 700px;
	font-family: 'Text Me One', Arial;
	font-size: 19px;
}

#movingLeft2 {
	margin-left: 55px;
	font-size: 20px;
}

p.small {
	line-height: 30%;
	font-family: 'Rubic', Arial;
}



.movingright {
	margin-left: 15px;
	font-family: 'Text Me One', Arial;
	font-size: 18px;
}

#otherinfo {
	background-color: #b9c3b9;
	float: left;
	width: 198px;
	height: 1295px;
	border-radius: 3px;
	padding: 15px;
	margin-top: 120px;
	margin-left: 100px;
}

#info {
	background-color: #b9c3b9;
	float: right;
	width: 800px;
	border-radius: 3px;
	padding: 15px;
	margin-top: 120px;
	margin-right: 100px;
	margin-bottom: 20px;
}

.subject {
	color: #3c8571;
	text-align: left;
	font-family: 'Text Me One', cursive;
	font-size: 180%;
	text-shadow: 4px 4px 6px #c08908;
	margin-left: 10px;
}

.subject2 {
	color: #3c8571;
	text-align: left;
	font-family: 'Text Me One', cursive;
	font-size: 180%;
	text-shadow: 4px 4px 6px #c08908;
}

hr {
	box-shadow: 2px 2px 4px #3c8571;
}
/*__--__--__--__--__--__--__--__--__--__--__--__--__--*/


/* portfolio page */
#myProjects {
	font-size: 35px;
	margin-top: 10px;
	margin-left: 375px;
	font-family: "Text Me One";
}

#projects {
	background-color: #b9c3b9;
	width: 75%;
	border-radius: 3px;
	padding: 15px;
	margin-top: 120px;
	margin-left: 140px;
	height: 1810px;
}

.imgContainer{
    float:left;
    margin-left: 50px;
    padding: 70px 70px 35px 70px;
    border: 2px solid black;
    border-spacing: 5px;
    margin-top: 37px;
    border-radius: 3px;
}

.projectimages {
	border-radius: 4px;
}

.aboutproject {
	font-family: 'Text Me One', Arial;
	font-size: 16.5px;
	width: 250px;
}

/*__--__--__--__--__--__--__--__--__--__--__--__--__--*/


/*Get To Know Me Page*/
#aboutme1 {
	background-color: #b9c3b9;
	width: 55%;
	border-radius: 3px;
	padding: 5px;
	margin-left: 284px;
	margin-top: 120px;
	display: center;
	height: 64px;
}

#aboutme4 {
	background-color: #b9c3b9;
	width: 55%;
	border-radius: 3px;
	padding: 5px;	
	margin-top: 10px;
	margin-left: 284px;
	
}

.hello{
	color: #3c8571;
	font-size: 49px;
	font-family: 'Text Me One', Arial;
	text-shadow: 4px 4px 6px #c08908;
	text-decoration: underline;
	margin-top: -0px;
	margin-left: 275px;
}

#insideabout {
	font-family: 'Text Me One', Arial;
	width: 650px;
	margin-left: 25px;
	font-size: 19px;

}

#aboutme2 {
	float: left;
	background-color: #b9c3b9;
	border-radius: 3px;
	padding: 15px;
	margin-left: 142px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 450px;
	height: 1229px;
}

.list {
	font-size: 19px;
	text-align: left;
	margin-left: 70px;
	margin-bottom: 5px;
	font-family: 'Text Me One', Arial;
}
.interest {
	text-align: center;
	color: #3c8571;
	font-size: 35px;
	font-family: 'Text Me Ones', Arial;
	font-size: 40px;
	border: 3px solid #3c8571;
}

.myinterests {
	text-align: center;
	font-size: 28px;
	font-family: 'Text Me One', Arial;
}

#aboutme3 {
	float: right;
	background-color: #b9c3b9;
	border-radius: 3px;
	padding: 15px;
	margin-right: 142px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 450px;
	height: 1229px;

}

.image1 {
	margin-left: 9px;
	border-radius: 2px;	
	border: 1px solid black;

}

.image2 {
	border-radius: 2px;
	margin-left: 9px;
	border: 1px solid black;
	
}

.image3 {
	margin-top: 52px;
	margin-left: 3px;
	border-radius: 2px;
	border: 1px solid black;
}

@media (max-width: 1050px) {
	body{
		background-color: white;
	}
}

@media (max-width: 600px) {
	body {
	background-color: purple;
}
}

    